html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

/*** CONNEXION ***/

#pannelConnection {
	background-color: black;
	color: white;
	margin-top: 0;
	margin-left: -20%;
	margin-right: -20%;
	height: 80px;
	z-index: 3;
	position: relative;
}


#pannelEditWork {
	margin: 0;
	z-index: 2;
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 70%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.286);
	display: flex;
	justify-content: center;
	align-items: center;
}

#galeriEditWork, #panelAddingWork {
	border-radius: 15px;
	position: fixed;
	margin-top: 80px;
	max-width: 56%;
	width: 630px;
	height: 800px;
	background-color: white;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.cross {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 20px;
}
.return {
	position: absolute;
	left: 30px;
	top: 20px;
	font-size: 20px;
}
.return:hover {
	color:#26907c
}
.cross:hover {
	color: red;
}
.galerieEdit {
	width: 69%;
	height: 65%;
	padding: 10% 0% 10% 0%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	overflow-y: auto;
}

.bottomEdit {
	width: 70%;
	border-top: 1px gray solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.addImg, .deleteGalerie {
	margin-top: 15px;
	width: 50%;
	height: 30px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.addImg {
	background-color: #1D6154;
	color: white;
}
.addImg:hover {
	cursor: pointer;
	color: white;
	background: #2a8d7b;
	font-size: 15px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.220);
}
.deleteGalerie {
	color: red;
}
.deleteGalerie:hover {
	cursor: pointer;
	color: white;	
	background-color: red;
}

.cardsPanel {
	margin-top: 15px;
	width: 70px;
	height: 102px;
	background-color: #1D6154;
	box-sizing: border-box;
	margin-right: 2.5%;
}

.cardsPanel img {
	width: 100%;
	height: 100%;
}

.deleteBtn {
	position: relative;
	bottom: 101px;
	left: 47px;
	color: white;
	background-color: rgba(0, 0, 0, 0.578);
	width: 19px;
	height: 20px;
	padding: 5%;
	box-sizing: border-box;
}

.deleteBtn:hover {
	color: red;
}

.disconnected_and_hidden, .hidden {
	visibility: hidden;
	display: none;
	width: 0;
	height: 0;
	size: 0;
}

.connected_and_visible {
	display: block;
}
.visible {
	visibility: visible;
}
.edition {
	margin: auto;
	padding-top: 18px;
	width: 185px;
	display: flex;
	justify-content: space-evenly;
	gap: 13px;
	font-size: 15px;
}
.edition-mode {
	margin-top: 12px;
	display: inline;
	height: 17px;
}
.edition i {
	margin-top: 7px;
	font-size: x-large;
	margin-right: -39px;
	border-bottom: none;
}
.edition-mode:hover {
	border-bottom: white 1px solid;
	cursor: pointer;

}

/* Mode Edition lors de la connexion */ 
.change_img {
	margin-top: 10px;
	margin-left: 10%;
}
.projets {
	margin: auto;
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.change_projets {
	margin-top: 9px;
	margin-left: 0.5%;
	width: 19%;
	display: flex;
	justify-content: space-between;

}

.change_projets:hover span, .change_projets:hover i {
	cursor: pointer;
	color: #eb961f;
}
.gallery_connected {
	position: relative;
	bottom: 120px;
}
.gallery_disconnected {
	position: static;
	bottom: 0;
}

/*** AJOUT TRAVAUX MENU ***/
.form-img {
	display: flex;
    flex-direction: column;
    align-items: center;
}
#ImputImg {
	display: none;
}
.addImagePlaceholder {
	margin-top: 30px;
	padding-top: 30px;
	width: 100%;
	height: 189px;
	flex-shrink: 0;
	border-radius: 3px;
	background: #E8F1F6;
}
.imgPlace {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;
	/* height: 169px; */
}
#ImgPreview {
	width: 68%;
	margin-top: -30px;
	height: 219px;
	display: none;
}
#ImgPreview[src] {
	display: block;
}

.imgPlace i {
	margin-top: 5px;
	font-size: 69px;
	color: #CBD6DC;
	position: relative;
	
}
.imgPlace span {
	margin-top: 10px;
	position: relative;
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
#textImputLabel {
	
	bottom: 150px;
	margin-top: 5px;
	cursor: pointer;
	font-size: 1.4em;
	text-align: center;
	padding: 10px 15px;
	background: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	width: 173px;
	height: 24px;
}


#panelAddingWork form {
	width: 85%;
	height: 78%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.titreForm, .categoriesForm {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 60px;
}
.titreForm label, .categoriesForm label {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.titreForm input, #category {
	margin-top: 8px;
	padding-left: 15px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.separation {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	border-top: 1px #B3B3B3 solid;
}

#btn-AddWork {
	border: none;
	width: 237px;
	min-width: 100px;
	height: 36px;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#btn-AddWork:hover {
	border: none;
	cursor: pointer;
	background: #2a8d7b;
	font-size: 15px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.220);
}
.invalid-form {
	margin-top: 15px;
	margin-left: 10%;
	font-size: 12px;
	width: 60%;
	text-align: center;
	
	color: red;
}
/* Header  */
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
 /* Partie Navigation */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
nav li a {
	color: black;
	text-decoration: none;
}
nav li a:hover {
	color: #B1663C;
	cursor: pointer;
}
/* Main */
section {
	margin: 50px 0
}

/*** INTRODUCTION ***/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*** PORTEFOLIO ***/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/*** FILTRES ***/

.filters {
	display: flex;
	justify-content: center;
	height: 120px;
	width: 100%;
	margin: auto;
	gap: 1%;
	margin-bottom: 20px;
}

.filtre {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	width: 25%;
	height: 40px;
	margin : 2em auto ;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-radius: 60px;
	border: #1D6154 1px solid;
	background-color: white;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	cursor: pointer;
	font-size: 1.1em;
	text-align: center;
}

.filtre:hover {
	color: white;
	background-color: #32ae97;
	border-color: #32ae97;
	transition-duration: 0.2s;
}

.selection {
	background-color: #1D6154;
	color: white;
}

#appartements {
	min-width: 180px;
}

#hotels_restaurants{
	min-width: 220px;
}

/*** GALLERIE ***/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/*** CONTACT SECTION ***/

#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	resize: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/*** FOOTER ***/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*** LOGIN ***/

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	margin-top: 120px;
}

.login h2 {
	text-align: center;
}

.login form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 50px;
}

.login label {
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: -5px;
	min-width: 50%;
	width: 180%;
	font-size: 16px;
	
}

.login #username , .login #password {
	min-width: 50%;
	width: 180%;
	height: 40px;
	font-size: 1.45em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-top: 20px;
	resize: none;
	text-align: center;
	
}

.login #username:focus, .login #password:focus, .login label:focus {
	outline: none;
}

.login a {
	color: black;
}

#error-message {
	margin-top: 15px;
	color: red; 
}

.btn {
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: auto;
	margin-top: 50px;
	width: 180px;
	height: 45px;
	text-align: center;
	border-radius: 60px ;
}